blinker
cachetools
chardet
click
colorama
distlib
filelock
Flask
Flask-Login
Flask-SQLAlchemy
greenlet
itsdangerous
Jinja2
MarkupSafe
packaging
passlib
platformdirs
pluggy
wheel
psycopg2-binary
PyJWT
pyproject-api
SQLAlchemy
tomli
tox
typing_extensions
virtualenv
Werkzeug
