<!DOCTYPE html>
<html lang="en">
<head>
<meta charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bare.css') }}" />
<style>table {font-size: 14px; align: center; background-color: #ffffff; } 
th { font-size:14px; background-color: #ffffff; } 
td { font-size:14px; background-color: #ffffff; }
</style>
<title>SQL Advance - Functional Assessment</title>
</head>

  <body>

      {% include '_header.html' %}

      {% if skills %}
          {% set client = resident.fname ~ " " ~ resident.lname %}
          <p style="text-align: center;"><b>Functional Assessment for: </b> {{ client}} </p>
      {% else %}
          <p align="center"><b>SQL Advance - Functional Assessment</b></p>
          <p style="text-align: center; color: red"><b>No Functional Assessments found for this client in this date range.</b></p>
      {% endif %}

      <br />

      <table style="width:666px; margin-left: auto; margin-right: auto;">
      <tr >
      <td colspan="2" ><hr width="99%"/></td>
      </tr>
      </table>

      {% for skill in skills %}

      <table style="width:666px; margin-left: auto; margin-right: auto;">
      <tr ><td width="15%" ><b>Unit Name:</b></td><td> {{ skill.unit_lname }}    </td> </tr>
      <tr ><td><b>Effective Dates:</b>       </td><td> {{ skill.start_date }} - {{ skill.end_date }} </td> </tr>
      <tr ><td><b>Skill Area:</b>            </td><td> {{ skill.skill_area }}  </td> </tr>
      <tr ><td><b>Skill Level:</b>           </td><td> {{ skill.skill_level }} </td> </tr>
      <tr ><td><b>Comments:</b>              </td><td> {{ skill.skill_text }}  </td> </tr>
      <tr ><td><b>Entered By:</b>            </td><td> {{ skill.staff_name }}   </td> </tr>
      <tr ><td colspan="2"><hr width="99%"/></td>
      </tr>
      </table>

      {% endfor %}

      <p align="center"><a href="{{ url_for('chart.functional') }}"><center><h4>Enter Functional Assessment</h4></center></a></p>

      {% include '_footer.html' %}

  </body>
</html>

