<!DOCTYPE html>
<html lang="en">
  <head>
    <style>table {font-size: 14px; align: center; background-color: #ffffff; } 
           th { font-size:14px; background-color: #ffffff; } 
           td { font-size:14px; background-color: #ffffff; }
           a { font-size: 14px; color: #000000; text-decoration: none; }
           a:visited { color: #000000;  }
           a:active { color: #000000; }
           a:hover { color: #000000; text-decoration: none; }
    </style>
    <meta charset="UTF-8" />
    <title>SQL Advance Login</title>
  </head>
  <body>
      <p align="center">
      <img src="{{url_for('static',filename='sqlx.jpg')}}">
      </p>
      <form action="#" method="post">
      <table align="center">
      <thead><tr><th align="center" colspan="2">SQL Advance Login Page</th></tr></thead>
      <tr><td><br /></td></tr>
      <tr>
      <td><label for="username">Username:</label></td>
      <td><input type="text" name="username" /></td>
      </tr>
      <tr>
      <td><label for="password">Password:</label></td>
      <td><input type="password" name="password" /></td>
      </tr>
      <tr><td><br /></td></tr>
      <tr>
      <td align="center" colspan="2"><button type="submit">Submit</button></td>
      </tr>
      <tr>
      <td align="center" colspan="2">
      <a href="{{ url_for('admin.password_reset') }}"><center><h4>Forgot Your Password?</h4></center></a>
      </td>
      </tr>
      </table>
      </form>

  </body>
</html>

