<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bare.css') }}" />
<style>table {font-size: 14px; align: center; background-color: #ffffff; } 
th { font-size:14px; background-color: #ffffff; } 
td { font-size:14px; background-color: #ffffff; }
</style>
<meta charset="UTF-8" />
<title>SQL Advance</title>
</head>
  <body>

      <p align="center"><b>Email Notification</b> (Record: {{ rec_id }} User ID: {{ user.user_id }})</b></p>

      <table align="center"><tr><td>

      <form action="#" method="post">
      <table align="center">
      
      <tr>
      <td><label for="user_name">User&nbsp;Name:</label></td>
      <td><input type="text" name="user_name" value="{{ user.user_name }}"  /></td>
      </tr>

      <tr>
      <td><label for="user_email">Email&nbsp;Address:</label></td>
      <td><input type="text" name="user_email" value="{{ user.user_email }}"  /></td>
      </tr>

      <tr>
      <td><label for="alert">Emergency: </label></td>
      <td><select name="alert" id="alert">
      <option value="No"
        {% if user.alert == "No" %}selected{% endif %}>
        No
      </option>
      <option value="Yes"
        {% if user.alert == "Yes" %}selected{% endif %}>
        Yes
       </option>
       </select>
      </td>
      </tr>

      <tr>
      <td><label for="incident">Incident&nbsp;Reports: </label></td>
      <td><select name="incident" id="incident">
      <option value="No"
        {% if user.incident == "No" %}selected{% endif %}>
        No
      </option>
      <option value="Yes"
        {% if user.incident == "Yes" %}selected{% endif %}>
        Yes
       </option>
      </select></td>
      </tr>

      <tr>
      <td><label for="incident">Maintenance&nbsp;Requests: </label></td>
      <td><select name="property" id="property">
      <option value="No"
        {% if user.property == "No" %}selected{% endif %}>
        No
      </option>
      <option value="Yes"
        {% if user.property == "Yes" %}selected{% endif %}>
        Yes
       </option>
      </select></td>
      </tr>

      <tr>
      <td><label for="incident">Technical&nbsp;Support: </label></td>
      <td><select name="support" id="support">
      <option value="No"
        {% if user.support == "No" %}selected{% endif %}>
        No
      </option>
      <option value="Yes"
        {% if user.support == "Yes" %}selected{% endif %}>
        Yes
       </option>
      </select></td>
      </tr>

      <tr><td><input type="hidden" name="rec_id" value="{{ rec_id }}" /></td></tr>
      <tr><td><input type="hidden" name="user_id" value="{{ user.user_id }}" /></td></tr>
      <tr><td align="center" colspan="2"><button type="submit" name="action" value="modify">Submit</button></td></tr>

      </table>
      </form>
      
      <form action="#" method="post">
      <table align="center">
      <tr><td><input type="hidden" name="rec_id" value="{{ rec_id }}" /></td></tr>
      <tr><td align="center" colspan="2"><br /><br /><font color=red>To DELETE this record click here: </font>
      <tr><td align="center" colspan="2"><button type="submit" name="action" value="delete">Delete</button></td></tr>
      </table>
      </form>

      </td></tr>
      </table>

      {% include '_footer.html' %}

  </body>
</html>

