<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bare.css') }}" />
    <style>table {font-size: 14px; align: center; } 
           th { font-size:14px; } 
           td { font-size:14px; background-color: #ffffff; }
           a { font-size: 14px; color: #000000; text-decoration: none; }
           a:visited { color: #000000;  }
           a:active { color: #000000; }
           a:hover { color: #000000; text-decoration: none; }
    </style>
    <meta charset="UTF-8" />
    <title>SQL Advance</title>
  </head>
  <body>
      <p align="center">
      <img src="{{url_for('static',filename='sqlx.jpg')}}">
      </p>
      <p align="center">SQL Advance - Setup Menu</p>

      {% if error %}
          <p align="center"><font color="red"><b> {{ error }} </b></font></p>
      {% endif %}

    <p align="center">
    <div id="menu">
    <table style="border: 0px solid black; border-collapse: collapse; width:484px; margin-left: auto; margin-right: auto;">
    <tr><td>
    <center>
            <table>
            <tr><th><b><u>Alert Keywords</u></b></th></tr>
            <tr><td><b><a href="/setup/keyword">Alert Keywords - Add A Word</a></b></td></tr>
            <tr><td><b><a href="/setup/keyword_update">Alert Keywords - Update A Word</a></b></td></tr>
            <tr><td><b><a href="/setup/keyword_view">Alert Keywords - View List</a></b></td></tr>
            <tr><td><br /></td></tr>
            <tr><th><b><u>Email Notifications (SMTP)</u></b></th></tr>
            <tr><td><b><a href="/setup/email_notification">Email Notification - Add A User</a></b></td></tr>
            <tr><td><b><a href="/setup/email_notification_update">Email Notification - Update User</a></b></td></tr>
            <tr><td><b><a href="/setup/email_notification_view">Email Notification - View List</a></b></td></tr>
            <tr><td><br /></td></tr>
            <tr><th><b><u>Email Notifications (Internal)</u></b></th></tr>
            <tr><td><b><a href="/setup/email_internal">Message Notification - Add A User</a></b></td></tr>
            <tr><td><b><a href="/setup/email_internal_update">Message Notification - Update User</a></b></td></tr>
            <tr><td><b><a href="/setup/email_internal_view">Message Notification - View List</a></b></td></tr>
            <tr><td><br /></td></tr>
            <tr><th><b><u>Units</u></b></th></tr>
            <tr><td><b><a href="/setup/unit">Add A Unit</a></b></td></tr>
            <tr><td><b><a href="/setup/unit_update">Update A Unit (Restricted)</a></b></td></tr>
            <tr><td><b><a href="/setup/unit_view">View Units (List)</a></b></td></tr>
            <tr><td><br /></td></tr>
            <tr><th><b><u>User Accounts</u></b></th></tr>
            <tr><td><b><a href="/userlist">User List</a></b></td></tr>
            <tr><td><b><a href="/setup/useradd">Add A User (Restricted)</a></b></td></tr>
            <tr><td><b><a href="/setup/usermod">Update A User (Restricted)</a></b></td></tr>
            <tr><td><b><a href="/setup/userpass">Reset User Password (Restricted)</a></b></td></tr>
            <tr><td><b><a href="/setup/userdel">Delete A User (Restricted)</a></b></td></tr>
            <tr><td><br /></td></tr>
            </table>
    </center>
    </td></tr>
    </table>
    </p>
    </div>

    {% include '_footer.html' %}
   
  </body>
</html>
